<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Special thanks to the following people who let me try untested software on their phones.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Eric Huang, Nina Kenner, Rachel Merin, Samantha Stotesbery, Allen Wong</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>To the NHIC staff, thank you for all your encouragement and support in making this a reality</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Disclaimer</string>
</dict>
</plist>
